<!DOCTYPE html>

<html >
  <head>
    <title>Tetris - Angular</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="tetris.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="game" ng-app="tetrisGame">
        <div id="CtrlLayer" ng-controller="gameControls"></div>
        <div id="fallerWrap" ng-controller="fallerController">

          <div id="faller"
            ng-style="{left: applyScale(faller.position.x), top: applyScale(faller.position.y)}"
            kb-control="controls">
            <div class="block"
              ng-repeat="point in faller.points"
              ng-style="{left: applyScale(point.x), top: applyScale(point.y, true)}"
              ng-class="faller.color">
            </div>
          </div>

        </div>
        <div id="board" ng-controller="gridController" ng-style="{width:applyScale(modelGrid.width), height:applyScale(modelGrid.height)}">
          <div id="BGGrid">
            <div class="row"
              ng-repeat="(i, row) in BGGrid"
              ng-style="{top: applyScale(i)}">
                <div class="block" ng-repeat="(j, cell) in row track by $index" ng-style="{left: applyScale(j)}">
                </div>
            </div>
          </div>
          <div id="viewGrid" >
            <div class="row"
              ng-repeat="(i, row) in viewGrid"
              ng-style="{top: applyScale(row.pos)}"
              ng-class="{cleared: row.justCleared}">
                <div class="block" ng-repeat="(j, cell) in row.cells track by $index" ng-class="cell" ng-style="{left: applyScale(j)}" ng-click="modelGrid.set({x: j, y: i}, 'red')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
