$separaterWidth: 1px;
$separaterColor: gray;
$scale: 30px;
$gameBorder: 2px;
$bgColor: rgb(38,38,38);

* {
  margin:0;
  padding:0;
}
#game {

}
#boardWrap {
  text-align: center;
}
#board {
  position: relative;

  //margin: 20px auto;
}
#fallerWrap {
  z-index:100;
  position: absolute;
  top: $separaterWidth; left: $separaterWidth;
}
  #faller {
    position: absolute;
    transition: all .05s ease;
  }
  #faller.aboutToFix {
    animation: aboutToFix .9s ease;
  }
  #faller.restart {
    transition: none;
  }
#viewGrid {
  z-index:120;
  position: absolute;
  top: $separaterWidth; left: $separaterWidth;
}
.block {
  position: absolute;
  width: $scale; height: $scale;

}
.row.cleared {
  transition-delay: .5s;
}
.cleared .block {
  animation: collapse .3s linear;
}
#BGGrid {
  position: relative;
  z-index: 50;
  border-right: $separaterWidth solid $separaterColor;
  border-bottom: $separaterWidth solid $separaterColor;
  width: 100%;
  height: 100%;
}
.row {
  position: absolute;
  transition: top .5s ease;
}

#BGGrid .block {
  border-top: $separaterWidth solid $separaterColor;
  border-left: $separaterWidth solid $separaterColor;
}

.module {
  border: 5px solid gray;
  border-radius: 4px;
  background-color: $bgColor;
  display: inline-block;
  vertical-align: top;
}

#upcoming-pieces {
  padding: 25px;
}
.static-piece {
  position: relative;
}


.red {
  background-color: red;
}
.purple {
  background-color: purple;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: lime;
}
.cyan {
  background-color: cyan;
}

@keyframes collapse {
  0% {
    background: white;
    transform: scaleY(1);
  }
  90% {
    background: transparent;
    //transform: scaleY(0);
  }
  100% {transform: scaleY(1)}
}

@keyframes aboutToFix {
  0% {opacity: 1}
  70% {opacity: .5}
  100% {opacity: 1}
}

#ctrlLayer {
  position: absolute;
  top: 0; bottom:0; left: 0; right: 0;
  z-index: 200;
  background: rgba(50,50,50,.77);
}

.module.overlay {
  box-shadow: 0 0 50px 10px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  color: gray;
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  margin: 40px 0;
}


button {
  color: $bgColor;
  padding: 25px;
  border: none;
  border-radius: 4px;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: opacity .4s ease;

}

button:hover {
  opacity: .7;
}

button:disabled {
  background: rgb(138,138,138);
  opacity: .3!important;
  cursor: default;
}

#pause {
  width: 300px;
  height: 440px;
}

#pause button {
  display: block;
  margin: 20px auto;
  width: 250px;
}
