* {
  margin: 0;
  padding: 0;
}

#game {
  position: relative;
}

#board {
  position: relative;
}

#fallerWrap {
  z-index: 100;
  position: absolute;
  top: 2px;
  left: 2px;
}

#faller {
  position: absolute;
  transition: all .1s ease;
}

.block {
  position: absolute;
  width: 30px;
  height: 30px;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
}

td {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: lime;
}

.cyan {
  background-color: cyan;
}
