* {
  margin: 0;
  padding: 0;
}

#game {
  position: relative;
}

#board {
  position: relative;
  border: 5px solid gray;
  border-radius: 4px;
  background-color: #262626;
  margin: 20px auto;
}

#fallerWrap {
  z-index: 100;
  position: absolute;
  top: 1px;
  left: 1px;
}

#faller {
  position: absolute;
  transition: all .05s ease;
}

#viewGrid {
  z-index: 120;
  position: absolute;
  top: 1px;
  left: 1px;
}

.block {
  position: absolute;
  width: 30px;
  height: 30px;
}

.row.cleared {
  transition-delay: .5s;
}

.cleared .block {
  animation: collapse .3s linear;
}

#BGGrid {
  position: relative;
  z-index: 50;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 100%;
  height: 100%;
}

.row {
  position: absolute;
  transition: top .5s ease;
}

#BGGrid .block {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: lime;
}

.cyan {
  background-color: cyan;
}

@keyframes collapse {
  0% {
    background: white;
    transform: scaleY(1);
  }
  90% {
    background: transparent;
  }
  100% {
    transform: scaleY(1);
  }
}
